absl-py
appdirs
astor
audioread
backcall
certifi
cffi
click
colorama
coverage
cycler
Cython
dataclasses
decorator
gast
google-pasta
grpcio
h5py
importlib-metadata
ipython
ipython-genutils
jedi
joblib
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
librosa
llvmlite
Mako
Markdown
MarkupSafe
matplotlib
mkl-fft
mkl-random
mkl-service
numba
numpy
olefile
Package
packaging
pandas
parso
pickleshare
Pillow
pip
pooch
prompt-toolkit
protobuf
pycparser
pydot
pydub
Pygments
pygpu
pyparsing
pyreadline
python-dateutil
python-dotenv
pytz
PyYAML
requests
resampy
scikit-learn
scipy
setuptools
simplegeneric
six
SoundFile
tensorboard
tensorflow
tensorflow-estimator
termcolor
Theano
threadpoolctl
tornado
traitlets
typing-extensions
wcwidth
Werkzeug
wheel
wincertstore
wrapt
zipp
